TKW/contrib/DMS_Schema/HSCI_ITKService/Schemas/COCD_TP146223GB01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:npfitlc="NPFIT:HL7:Localisation" xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* 		XML schema for message type : COCD_TP146223GB01.
* 
*		Source information:
*		Generated by Publisher version : 
*    	Created on: 
*   
* 		Copyright (c) 2009,2010,2011,2012 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="../VocabularySchemas/CDAVocab.xsd"/>
	<xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
	<xs:import namespace="NPFIT:HL7:Localisation" schemaLocation="../dt/NHSLocalisation.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-000053_Section.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-000032_Section.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-000063_Section.xsd"/>
	<xs:group name="COCD_TP146223GB01">
		<xs:sequence>
			<xs:element name="COCD_TP146223GB01.ClassificationSection" type="COCD_TP146223GB01.ClassificationSection"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="COCD_TP146223GB01.AlteredStatesofConsciousnessSection2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#alteredStatesofConsciousnessSection2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="11. Altered States of Consciousness" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.AssessedLevelsofNeedSection2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#assessedLevelsofNeedSection2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="Assessed Levels of Need (in the table below N/A means not applicable)" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.AssessorsIncludingMDTMembersSection1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#assessorsIncludingMDTMembersSection1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="Assessor(s) Including MDT Members" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.BehaviourSection2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#behaviourSection2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="1. Behaviour" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.BreathingSection2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#breathingSection2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="9. Breathing" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.ClassificationSection">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#ClassificationSection"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="component01" type="COCD_TP146223GB01.Component4" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component02" type="COCD_TP146223GB01.Component" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component03" type="COCD_TP146223GB01.Component3" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component04" type="COCD_TP146223GB01.Component2" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component05" type="COCD_TP146223GB01.Component5" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component06" type="COCD_TP146223GB01.Component6" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component07" type="COCD_TP146223GB01.Component7" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entry" type="COCD_TP146223GB01.Component_1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entry1" type="COCD_TP146223GB01.Component2_1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.CognitionSection2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#cognitionSection2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="2. Cognition" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.CommunicationSection2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#communicationSection2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="4. Communication" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component02"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="mentalCapacitySection1" type="COCD_TP146223GB01.MentalCapacitySection1" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component_1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#entry"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:choice>
				<xs:group ref="NPFIT-000053_Section"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component10">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="psychologicalandEmotionalNeedsSection2" type="COCD_TP146223GB01.PsychologicalandEmotionalNeedsSection2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component11">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component11"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="communicationSection2" type="COCD_TP146223GB01.CommunicationSection2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component12">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="mobilitySection2" type="COCD_TP146223GB01.MobilitySection2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component13">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component13"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="nutritionFoodandDrinkSection2" type="COCD_TP146223GB01.NutritionFoodandDrinkSection2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component14">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component14"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="continenceSection2" type="COCD_TP146223GB01.ContinenceSection2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component15">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="skinIncludingTissueViabilitySection2" type="COCD_TP146223GB01.SkinIncludingTissueViabilitySection2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component16">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component16"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="breathingSection2" type="COCD_TP146223GB01.BreathingSection2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component17">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component17"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="drugTherapiesandMedicationSymptomControlSection2" type="COCD_TP146223GB01.DrugTherapiesandMedicationSymptomControlSection2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component18">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="alteredStatesofConsciousnessSection2" type="COCD_TP146223GB01.AlteredStatesofConsciousnessSection2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component19">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component19"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="otherSignificantCareNeedsSection2" type="COCD_TP146223GB01.OtherSignificantCareNeedsSection2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component04"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="assessorsIncludingMDTMembersSection1" type="COCD_TP146223GB01.AssessorsIncludingMDTMembersSection1" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component2_1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#entry1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:choice>
				<xs:group ref="NPFIT-000032_Section"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component20">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="assessedLevelsofNeedSection2" type="COCD_TP146223GB01.AssessedLevelsofNeedSection2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component03"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="summarySection1" type="COCD_TP146223GB01.SummarySection1" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component4">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component01"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="section1PersonalDetailsSection1" type="COCD_TP146223GB01.Section1PersonalDetailsSection1" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component5">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component05"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="section2CareDomainsSection1" type="COCD_TP146223GB01.Section2CareDomainsSection1" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component6">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component06"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="section3RecommendationSection1" type="COCD_TP146223GB01.Section3RecommendationSection1" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component7">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component07"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:choice>
				<xs:group ref="NPFIT-000063_Section"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component8">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component08"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="behaviourSection2" type="COCD_TP146223GB01.BehaviourSection2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Component9">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#component09"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="cognitionSection2" type="COCD_TP146223GB01.CognitionSection2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.ContinenceSection2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#continenceSection2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="7. Continence" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.DrugTherapiesandMedicationSymptomControlSection2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#drugTherapiesandMedicationSymptomControlSection2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="10. Drug Therapies and Medication: Symptom Control" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.MentalCapacitySection1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#mentalCapacitySection1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="Mental Capacity" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.MobilitySection2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#mobilitySection2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="5. Mobility" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.NutritionFoodandDrinkSection2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#nutritionFoodandDrinkSection2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="6. Nutrition: Food and Drink" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.OtherSignificantCareNeedsSection2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#otherSignificantCareNeedsSection2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="12. Other Significant Care Needs to be Taken into Consideration" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.PsychologicalandEmotionalNeedsSection2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#psychologicalandEmotionalNeedsSection2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="3. Psychological and Emotional Needs" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Section1PersonalDetailsSection1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#section1PersonalDetailsSection1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="Section 1: Personal Details" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Section2CareDomainsSection1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#section2CareDomainsSection1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="Section 2: Care Domain Assessment" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component08" type="COCD_TP146223GB01.Component8" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component09" type="COCD_TP146223GB01.Component9" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component10" type="COCD_TP146223GB01.Component10" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component11" type="COCD_TP146223GB01.Component11" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component12" type="COCD_TP146223GB01.Component12" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component13" type="COCD_TP146223GB01.Component13" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component14" type="COCD_TP146223GB01.Component14" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component15" type="COCD_TP146223GB01.Component15" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component16" type="COCD_TP146223GB01.Component16" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component17" type="COCD_TP146223GB01.Component17" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component18" type="COCD_TP146223GB01.Component18" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component19" type="COCD_TP146223GB01.Component19" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component20" type="COCD_TP146223GB01.Component20" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.Section3RecommendationSection1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#section3RecommendationSection1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="Section 3: Recommendation" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.SkinIncludingTissueViabilitySection2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#skinIncludingTissueViabilitySection2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="8. Skin (including tissue viability)" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCD_TP146223GB01.SummarySection1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCD_TP146223GB01#summarySection1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" fixed="Summary" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
</xs:schema>
