TKW/contrib/DMS_Schema/HSCI_ITKService/Schemas/COCT_TP146003UK03.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:npfitlc="NPFIT:HL7:Localisation" xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* 		XML schema for message type : COCT_TP146003UK03.
* 
*		Source information:
*		Generated by Publisher version : 
*    	Created on: 
*   
* 		Copyright (c) 2009,2010,2011,2012 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="../VocabularySchemas/CDAVocab.xsd"/>
	<xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
	<xs:import namespace="NPFIT:HL7:Localisation" schemaLocation="../dt/NHSLocalisation.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-100001_Act.xsd"/>
	<xs:group name="COCT_TP146003UK03">
		<xs:sequence>
			<xs:element name="COCT_TP146003UK03.DischargeNoticeData" type="COCT_TP146003UK03.DischargeNoticeData"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="COCT_TP146003UK03.Admission">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveTime" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#admission"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="PROC"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.CapacityToConsent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="CTC"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Capacity to Consent"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.275"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#capacityToConsent"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component13" type="COCT_TP146003UK03.Component14" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.CapacityToConsentText">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="CTCT"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Capacity to Consent Text"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.275"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#capacityToConsentText"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.CarerKeyContactInformedOfDischargeDate">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="CKIDD"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Carer or Key Contact Informed of Discharge Date"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.275"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#carerKeyContactInformedOfDischargeDate"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component16" type="COCT_TP146003UK03.Component17" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="discharge" type="COCT_TP146003UK03.Discharge" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component10">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component9"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="consentToShare" type="COCT_TP146003UK03.ConsentToShare" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component11">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="capacityToConsent" type="COCT_TP146003UK03.CapacityToConsent" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component12">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component11"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="socialCareAssessmentCompleted" type="COCT_TP146003UK03.SocialCareAssessmentCompleted" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component13">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="therapiesReportSentToSocialCare" type="COCT_TP146003UK03.TherapiesReportSentToSocialCare" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component14">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component13"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="capacityToConsentText" type="COCT_TP146003UK03.CapacityToConsentText" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component15">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component14"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="reasonPatientNotInformedText" type="COCT_TP146003UK03.ReasonPatientNotInformedText" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component16">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="carerKeyContactInformedOfDischargeDate" type="COCT_TP146003UK03.CarerKeyContactInformedOfDischargeDate" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component17">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component16"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="reasonCarerKeyContactNotInformedText" type="COCT_TP146003UK03.ReasonCarerKeyContactNotInformedText" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="admission" type="COCT_TP146003UK03.Admission" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="patientInformedOfDischargeDate" type="COCT_TP146003UK03.PatientInformedOfDischargeDate" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component4">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="reimbursementRule" type="COCT_TP146003UK03.ReimbursementRule" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component5">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="section117Eligibility" type="COCT_TP146003UK03.Section117Eligibility" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component6">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component7"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="safeToDischarge" type="COCT_TP146003UK03.SafeToDischarge" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component7">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="dischargeNoticeDateTime" type="COCT_TP146003UK03.DischargeNoticeDateTime" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component8">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="mDTSafeToDischargeDate" type="COCT_TP146003UK03.MDTSafeToDischargeDate" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Component9">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="BL">
							<xs:attribute name="value" type="bl" use="required" fixed="false"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#component8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:choice>
				<xs:group ref="NPFIT-100001_Act"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.ConsentToShare">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="CTS"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Consent to Share"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.275"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#consentToShare"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Discharge">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="163391000000107"/>
							<xs:attribute name="displayName" type="st" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="effectiveTime" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#discharge"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="PROC"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="PRP"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.DischargeNoticeData">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="DNDP"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Discharge Notification Data Payload"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.275"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="effectiveTime" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#dischargeNoticeData"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="component" type="COCT_TP146003UK03.Component" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component1" type="COCT_TP146003UK03.Component2" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component10" type="COCT_TP146003UK03.Component3" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component11" type="COCT_TP146003UK03.Component12" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component12" type="COCT_TP146003UK03.Component13" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component15" type="COCT_TP146003UK03.Component16" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component2" type="COCT_TP146003UK03.Component7" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component3" type="COCT_TP146003UK03.Component8" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="component4" type="COCT_TP146003UK03.Component11" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="component5" type="COCT_TP146003UK03.Component4" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component6" type="COCT_TP146003UK03.Component5" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="component7" type="COCT_TP146003UK03.Component6" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="component8" type="COCT_TP146003UK03.Component9" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component9" type="COCT_TP146003UK03.Component10" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="INFRM"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.DischargeNoticeDateTime">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="DNDT"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Discharge Notification date time"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.275"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#dischargeNoticeDateTime"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.MDTSafeToDischargeDate">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="MDTSTD"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="MDT Safe to Discharge Date"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.275"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#mDTSafeToDischargeDate"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.PatientInformedOfDischargeDate">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="PIDD"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Patient Informed of Discharge Date"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.275"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#patientInformedOfDischargeDate"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component14" type="COCT_TP146003UK03.Component15" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.ReasonCarerKeyContactNotInformedText">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="RCKNIT"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Reason Carer or Key Contact Not Informed Text"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.275"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#reasonCarerKeyContactNotInformedText"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.ReasonPatientNotInformedText">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="RPNIT"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Reason Patient Not Informed Text"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.275"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#reasonPatientNotInformedText"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.ReimbursementRule">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="RR"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Reimbursement Rule"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.275"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#reimbursementRule"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.SafeToDischarge">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="STD"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Safe to Discharge"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.275"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#safeToDischarge"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="SafeToDischargeCode_code" use="required"/>
							<xs:attribute name="displayName" type="SafeToDischargeCode_displayName" use="required"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.271"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.Section117Eligibility">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="ESS117"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Eligibility to Services under Section 117"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.275"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#section117Eligibility"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.SocialCareAssessmentCompleted">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="SCAC"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Social Care Assessment Completed"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.275"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#socialCareAssessmentCompleted"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="COCT_TP146003UK03.TherapiesReportSentToSocialCare">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
			<xs:element name="templateId" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="II">
							<xs:attribute name="root" use="required">
								<xs:simpleType>
									<xs:restriction base="uid">
										<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="extension" use="required">
								<xs:simpleType>
									<xs:restriction base="st">
										<xs:enumeration value="COCT_TP146003UK03#therapiesReportSentToSocialCare"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
							<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xs:attribute name="displayable" type="bl" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
</xs:schema>
