TKW/contrib/DMS_Schema/SCRMiniService/Schemas/QUPC_MT150004GB01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* 		XML schema for message type : QUPC_MT150004GB01.
* 
*		Source information:
*		Generated by Publisher version : 
*    	Created on: 
*   
* 		Copyright (c) 2009,2010,2011,2012,2013 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../VocabularySchemas/SCRVocab.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
   <xs:element name="QuerySCRRequest" type="QUPC_MT150004GB01.QuerySCRRequest"/>
   <xs:complexType name="QUPC_MT150004GB01.CreatePTV.Value">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="0"
                     fixed="CreatePTV.Value"/>
         <xs:element name="value" type="BL" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="QUPC_MT150004GB01.EmergencyAccess.Value">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="0"
                     fixed="EmergencyAccess.Value"/>
         <xs:element name="value" type="BL" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="QUPC_MT150004GB01.EmergencyAccessReason.Value">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="0"
                     fixed="EmergencyAccessReason.Value"/>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="QUPC_MT150004GB01.Person.NHSNumber">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="0"
                     fixed="Person.NHSNumber"/>
         <xs:element name="value" type="II.NHS.SCRPatient.identifier" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="QUPC_MT150004GB01.PTVDuration.Value">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="0"
                     fixed="PTVDuration.Value"/>
         <xs:element name="value" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="QUPC_MT150004GB01.QuerySCRGrouper">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="createPTV.Value" type="QUPC_MT150004GB01.CreatePTV.Value" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="emergencyAccess.Value" type="QUPC_MT150004GB01.EmergencyAccess.Value"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="emergencyAccessReason.Value"
                     type="QUPC_MT150004GB01.EmergencyAccessReason.Value"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="person.NHSNumber" type="QUPC_MT150004GB01.Person.NHSNumber" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="pTVDuration.Value" type="QUPC_MT150004GB01.PTVDuration.Value"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="selfClaimLR.Value" type="QUPC_MT150004GB01.SelfClaimLR.Value"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="QUPC_MT150004GB01.QuerySCRRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="0" maxOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="prohibited" fixed="14" type="cs"/>
                     <xs:attribute name="displayName" use="prohibited" fixed="querySCRRequest" type="st"/>
                     <xs:attribute name="codeSystem" use="prohibited" fixed="2.16.840.1.113883.2.1.3.2.4.17.503"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="querySCRGrouper" type="QUPC_MT150004GB01.QuerySCRGrouper" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="CACT"/>
      <xs:attribute name="moodCode" type="cs" use="prohibited" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="QUPC_MT150004GB01.SelfClaimLR.Value">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="0"
                     fixed="SelfClaimLR.Value"/>
         <xs:element name="value" type="BL" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
</xs:schema>