TKW/contrib/DMS_Schema/HL7V2/Schemas/ITKEvents_RSP_ZV2-2012-05.xsd

<?xml version="1.0"?><!--    NHS Connecting for Health - Interoperability Toolkit Event Definitions     Response to: Patient Demographics and Visit Query - RSP_ZV2--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v2xml" targetNamespace="urn:hl7-org:v2xml">	<!-- include segment definitions for ITK Events -->	<xsd:include schemaLocation="ITKEventsSegments-2012-05.xsd"/>	<!--    EVENT RSP_ZV2-->	<!-- .. groups used in event RSP_ZV2 -->	<xsd:complexType name="RSP_ZV2.QUERY_RESPONSE.CONTENT">		<xsd:sequence>			<xsd:element ref="EVN"/>			<xsd:element ref="PID"/>			<xsd:element ref="PD1" minOccurs="0"/>			<xsd:element ref="PV1"/>			<xsd:element ref="PV2" minOccurs="0"/>			<xsd:element ref="QRI" minOccurs="0"/>		</xsd:sequence>	</xsd:complexType>	<xsd:element name="RSP_ZV2.QUERY_RESPONSE" type="RSP_ZV2.QUERY_RESPONSE.CONTENT"/>	<!-- .. event definition RSP_ZV2 -->	<xsd:complexType name="RSP_ZV2.CONTENT">		<xsd:sequence>			<xsd:element ref="MSH"/>			<xsd:element ref="MSA"/>			<xsd:element ref="ERR" minOccurs="0"/>			<xsd:element ref="QAK"/>			<xsd:element ref="QPD"/>			<xsd:element ref="RSP_ZV2.QUERY_RESPONSE" minOccurs="0" maxOccurs="unbounded"/>			<xsd:element ref="DSC" minOccurs="0"/>		</xsd:sequence>	</xsd:complexType>	<xsd:element name="RSP_ZV2" type="RSP_ZV2.CONTENT"/></xsd:schema>