TKW/contrib/DMS_Schema/HL7V2/Schemas/wsdl/PatientEncounterManagementPH-2012-05.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--  
*****************************************************************************************************************
* 
* 	Copyright (c) 2010 NHS Conneccting For Health. All rights reserved.
*   
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY NHS Conneccting For Health. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
* CHANGE HISTORY:
*
* VERSION   DATE       AUTHOR                   LABEL   DESCRIPTION
* =======   ========== ======================   ======  ===========================================================
* 1.0       31-03-2010 Cord Oestmann                    Created this WSDL
* 2.0       16-05-2010 Interoperability Team            Amended this WSDL to make changes to the namespace declarations and the action and callbacks.
*
********************************************************************************************************************
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:itk="urn:nhs-itk:ns:201005" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="patientEncounterManagement" targetNamespace="urn:nhs-itk:ns:201005">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:nhs-itk:ns:201005" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:include schemaLocation="../distributionEnvelope-v2-0.xsd"/>
			<xsd:include schemaLocation="../ITKMessageTypes-2010-05.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="HL7PipeAndHatContentMessage">
		<wsdl:part name="HL7PipeAndHatContentMessage" element="itk:DistributionEnvelope"/>
	</wsdl:message>
	<wsdl:message name="acknowledgementResponse">
		<wsdl:part name="acknowledgementResponse" element="itk:SimpleMessageResponse"/>
	</wsdl:message>
	<wsdl:message name="faultResponse">
		<wsdl:part name="faultResponse" element="itk:ToolkitErrorInfo"/>
	</wsdl:message>
	<wsdl:portType name="admitPatientPH_ptt">
		<wsdl:operation name="admitPatientPH-v1-0">
			<wsdl:input message="itk:HL7PipeAndHatContentMessage"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="registerOutPatientPH_ptt">
		<wsdl:operation name="registerOutPatientPH-v1-0">
			<wsdl:input message="itk:HL7PipeAndHatContentMessage"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="updateEncounterInfoPH_ptt">
		<wsdl:operation name="updateEncounterInfoPH-v1-0">
			<wsdl:input message="itk:HL7PipeAndHatContentMessage"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="dischargePatientPH_ptt">
		<wsdl:operation name="dischargePatientPH-v1-0">
			<wsdl:input message="itk:HL7PipeAndHatContentMessage"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="cancelAdmitPatientPH_ptt">
		<wsdl:operation name="cancelAdmitPatientPH-v1-0">
			<wsdl:input message="itk:HL7PipeAndHatContentMessage"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="cancelDischargePatientPH_ptt">
		<wsdl:operation name="cancelDischargePatientPH-v1-0">
			<wsdl:input message="itk:HL7PipeAndHatContentMessage"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="admitPatientPH_pttBinding" type="itk:admitPatientPH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="admitPatientPH-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:admitPatientPH-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="HL7PipeAndHatContentMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="registerOutPatientPH_pttBinding" type="itk:registerOutPatientPH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="registerOutPatientPH-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:registerOutpatientPH-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="HL7PipeAndHatContentMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="updateEncounterInfoPH_pttBinding" type="itk:updateEncounterInfoPH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="updateEncounterInfoPH-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:updateEncounterPH-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="HL7PipeAndHatContentMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="cancelAdmitPatientPH_pttBinding" type="itk:cancelAdmitPatientPH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="cancelAdmitPatientPH-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:cancelAdmitPatientPH-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="HL7PipeAndHatContentMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="dischargePatientPH_pttBinding" type="itk:dischargePatientPH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="dischargePatientPH-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:dischargePatientPH-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="HL7PipeAndHatContentMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="cancelDischargePatientPH_pttBinding" type="itk:cancelDischargePatientPH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="cancelDischargePatientPH-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:cancelDischargePatientPH-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="HL7PipeAndHatContentMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="admitPatientPH-v1-0">
		<wsdl:documentation>This service is used to broadcast the admitPatient Event ADT^A01 with the payload using Pipe and Hat.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="admitPatientPH_pttPort" binding="itk:admitPatientPH_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/admitPatientPH-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="registerOutPatientPH-v1-0">
		<wsdl:documentation>This service is used to broadcast the registerOutPatient Event ADT^A04 with the payload using Pipe and Hat.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="registerOutPatientPH_pttPort" binding="itk:registerOutPatientPH_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/registerOutPatientPH-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="updateEncounterInfoPH-v1-0">
		<wsdl:documentation>This service is used to broadcast the updateEncounterInfo Event ADT^A08 with the payload using Pipe and Hat.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="updateEncounterInfoPH_pttPort" binding="itk:updateEncounterInfoPH_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/updateEncounterInfoPH-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="cancelAdmitPatientPH-v1-0">
		<wsdl:documentation>This service is used to broadcast the cancelAdmitPatient Event ADT^A11 with the payload using Pipe and Hat.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="cancelAdmitPatientPH_pttPort" binding="itk:cancelAdmitPatientPH_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/cancelAdmitPatientPH-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="dischargePatientPH-v1-0">
		<wsdl:documentation>This service is used to broadcast the dischargePatient Event ADT^A03 with the payload using Pipe and Hat.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="dischargePatientPH_pttPort" binding="itk:dischargePatientPH_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/dischargePatientPH-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="cancelDischargePatientPH-v1-0">
		<wsdl:documentation>This service is used to broadcast the cancelDischargePatient Event ADT^A13 with the payload using Pipe and Hat.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="cancelDischargePatientPH_pttPort" binding="itk:cancelDischargePatientPH_pttBinding">
			<soap:address location="http:/server:80/interoperability.toolkit/HL7v2/cancelDischargePatientPH-v1-0"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
