TKW/contrib/DMS_Schema/HL7V2/Schemas/wsdl/PatientEncounterManagement-2012-05.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--  
*****************************************************************************************************************
* 
* 	Copyright (c) 2010 NHS Conneccting For Health. All rights reserved.
*   
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY NHS Conneccting For Health. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
* CHANGE HISTORY:
*
* VERSION   DATE       AUTHOR                   LABEL   DESCRIPTION
* =======   ========== ======================   ======  ===========================================================
* 1.0       31-03-2010 Cord Oestmann                    Created this WSDL
* 2.0       16-05-2010 Interoperability Team            Amended this WSDL to make changes to the namespace declarations and the action and callbacks.
*
********************************************************************************************************************
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:itk="urn:nhs-itk:ns:201005" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="patientEncounterManagement" targetNamespace="urn:nhs-itk:ns:201005">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:nhs-itk:ns:201005" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:include schemaLocation="../distributionEnvelope-v2-0.xsd"/>
			<xsd:include schemaLocation="../ITKMessageTypes-2010-05.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="admitPatientRequest">
		<wsdl:part name="admitPatientRequest" element="itk:DistributionEnvelope"/>
	</wsdl:message>
	<wsdl:message name="dischargePatientRequest">
		<wsdl:part name="dischargePatientRequest" element="itk:DistributionEnvelope"/>
	</wsdl:message>
	<wsdl:message name="registerOutpatientRequest">
		<wsdl:part name="registerOutpatientRequest" element="itk:DistributionEnvelope"/>
	</wsdl:message>
	<wsdl:message name="updateEncounterInfoRequest">
		<wsdl:part name="updateEncounterInfoRequest" element="itk:DistributionEnvelope"/>
	</wsdl:message>
	<wsdl:message name="cancelAdmitPatientRequest">
		<wsdl:part name="cancelAdmitPatientRequest" element="itk:DistributionEnvelope"/>
	</wsdl:message>
	<wsdl:message name="cancelDischargePatientRequest">
		<wsdl:part name="cancelDischargePatientRequest" element="itk:DistributionEnvelope"/>
	</wsdl:message>
	<wsdl:message name="acknowledgementResponse">
		<wsdl:part name="acknowledgementResponse" element="itk:SimpleMessageResponse"/>
	</wsdl:message>
	<wsdl:message name="faultResponse">
		<wsdl:part name="faultResponse" element="itk:ToolkitErrorInfo"/>
	</wsdl:message>
	<wsdl:portType name="admitPatient_ptt">
		<wsdl:operation name="admitPatient-v1-0">
			<wsdl:input message="itk:admitPatientRequest"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="registerOutpatient_ptt">
		<wsdl:operation name="registerOutpatient-v1-0">
			<wsdl:input message="itk:registerOutpatientRequest"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="updateEncounter_ptt">
		<wsdl:operation name="updateEncounter-v1-0">
			<wsdl:input message="itk:updateEncounterInfoRequest"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="dischargePatient_ptt">
		<wsdl:operation name="dischargePatient-v1-0">
			<wsdl:input message="itk:dischargePatientRequest"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="cancelAdmitPatient_ptt">
		<wsdl:operation name="cancelAdmitPatient-v1-0">
			<wsdl:input message="itk:cancelAdmitPatientRequest"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="cancelDischargePatient_ptt">
		<wsdl:operation name="cancelDischargePatient-v1-0">
			<wsdl:input message="itk:cancelDischargePatientRequest"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="admitPatient_pttBinding" type="itk:admitPatient_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="admitPatient-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:admitPatient-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="admitPatientRequest" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="registerOutpatient_pttBinding" type="itk:registerOutpatient_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="registerOutpatient-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:registerOutpatient-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="registerOutpatientRequest" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="updateEncounter_pttBinding" type="itk:updateEncounter_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="updateEncounter-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:updateEncounter-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="updateEncounterInfoRequest" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="cancelAdmitPatient_pttBinding" type="itk:cancelAdmitPatient_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="cancelAdmitPatient-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:cancelAdmitPatient-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="cancelAdmitPatientRequest" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="dischargePatient_pttBinding" type="itk:dischargePatient_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="dischargePatient-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:dischargePatient-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="dischargePatientRequest" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="cancelDischargePatient_pttBinding" type="itk:cancelDischargePatient_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="cancelDischargePatient-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:cancelDischargePatient-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="cancelDischargePatientRequest" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="admitPatient-v1-0">
		<wsdl:documentation>This service is used to broadcast the admitPatient Event ADT^A01.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="admitPatient_pttPort" binding="itk:admitPatient_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/admitPatient-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="registerOutpatient-v1-0">
		<wsdl:documentation>This service is used to broadcast the registerOutPatient Event ADT^A04.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="registerOutpatient_pttPort" binding="itk:registerOutpatient_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/registerOutpatient-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="updateEncounter-v1-0">
		<wsdl:documentation>This service is used to broadcast the updateEncounterInfo Event ADT^A08.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="updateEncounter_pttPort" binding="itk:updateEncounter_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/updateEncounter-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="cancelAdmitPatient-v1-0">
		<wsdl:documentation>This service is used to broadcast the cancelAdmitPatient Event ADT^A11.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="cancelAdmitPatient_pttPort" binding="itk:cancelAdmitPatient_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/cancelAdmitPatient-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="dischargePatient-v1-0">
		<wsdl:documentation>This service is used to broadcast the dischargePatient Event ADT^A03.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="dischargePatient_pttPort" binding="itk:dischargePatient_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/dischargePatient-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="cancelDischargePatient-v1-0">
		<wsdl:documentation>This service is used to broadcast the cancelDischargePatient Event ADT^A13.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="cancelDischargePatient_pttPort" binding="itk:cancelDischargePatient_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/cancelDischargePatient-v1-0"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
