TKW/contrib/DMS_Schema/HL7V2/Schemas/wsdl/PEMInpatientEncounterManangementPH-2012-05.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--  
*****************************************************************************************************************
* 
* 	Copyright (c) 2010 NHS Conneccting For Health. All rights reserved.
*   
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY NHS Conneccting For Health. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
* CHANGE HISTORY:
*
* VERSION   DATE       AUTHOR                   LABEL   DESCRIPTION
* =======   ========== ======================   ======  ===========================================================
* 1.0       31-03-2010 Cord Oestmann                    Created this WSDL
* 2.0       16-05-2010 Interoperability Team            Amended this WSDL to make changes to the namespace declarations and the action and callbacks.
*
********************************************************************************************************************
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:itk="urn:nhs-itk:ns:201005" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="inpatientEncounterManagement" targetNamespace="urn:nhs-itk:ns:201005">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:nhs-itk:ns:201005" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:include schemaLocation="../distributionEnvelope-v2-0.xsd"/>
			<xsd:include schemaLocation="../ITKMessageTypes-2010-05.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="HL7PipeAndHatContentMessage">
		<wsdl:part name="HL7PipeAndHatContentMessage" element="itk:DistributionEnvelope"/>
	</wsdl:message>
	<wsdl:message name="acknowledgementResponse">
		<wsdl:part name="acknowledgementResponse" element="itk:SimpleMessageResponse"/>
	</wsdl:message>
	<wsdl:message name="faultResponse">
		<wsdl:part name="faultResponse" element="itk:ToolkitErrorInfo"/>
	</wsdl:message>
	<wsdl:portType name="transferPatientPH_ptt">
		<wsdl:operation name="transferPatientPH-v1-0">
			<wsdl:input message="itk:HL7PipeAndHatContentMessage"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="preAdmitPatientPH_ptt">
		<wsdl:operation name="preAdmitPatientPH-v1-0">
			<wsdl:input message="itk:HL7PipeAndHatContentMessage"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="cancelTransferPatientPH_ptt">
		<wsdl:operation name="cancelTransferPatientPH-v1-0">
			<wsdl:input message="itk:HL7PipeAndHatContentMessage"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="cancelPreAdmitPatientPH_ptt">
		<wsdl:operation name="cancelPreAdmitPatientPH-v1-0">
			<wsdl:input message="itk:HL7PipeAndHatContentMessage"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="transferPatientPH_pttBinding" type="itk:transferPatientPH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="transferPatientPH-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:transferPatientPH-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="HL7PipeAndHatContentMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="preAdmitPatientPH_pttBinding" type="itk:preAdmitPatientPH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="preAdmitPatientPH-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:preAdmitPatientPH-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="HL7PipeAndHatContentMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="cancelTransferPatientPH_pttBinding" type="itk:cancelTransferPatientPH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="cancelTransferPatientPH-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:cancelTransferPatientPH-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="HL7PipeAndHatContentMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="cancelPreAdmitPatientPH_pttBinding" type="itk:cancelPreAdmitPatientPH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="cancelPreAdmitPatientPH-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:cancelPreAdmitPatientPH-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="HL7PipeAndHatContentMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="transferPatientPH-v1-0">
		<wsdl:documentation>This service is used to broadcast the transferPatient Event ADT^A02 with the payload using Pipe and Hat.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="transferPatientPH_pttPort" binding="itk:transferPatientPH_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/transferPatientPH-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="cancelTransferPatientPH-v1-0">
		<wsdl:documentation>This service is used to broadcast the cancelTransferPatient Event ADT^A12 with the payload using Pipe and Hat.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="cancelTransferPatientPH_pttPort" binding="itk:cancelTransferPatientPH_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/cancelTransferPatientPH-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="preAdmitPatientPH-v1-0">
		<wsdl:documentation>This service is used to broadcast the preAdmitPatient Event ADT^A05 with the payload using Pipe and Hat.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="preAdmitPatientPH_pttPort" binding="itk:preAdmitPatientPH_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/preAdmitPatientPH-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="cancelPreAdmitPatientPH-v1-0">
		<wsdl:documentation>This service is used to broadcast the cancelPreAdmitPatient Event ADT^A38 with the payload using Pipe and Hat.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="cancelPreAdmitPatientPH_pttPort" binding="itk:cancelPreAdmitPatientPH_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/cancelPreAdmitPatientPH-v1-0"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
