TKW/contrib/DMS_Schema/HL7V2/Schemas/wsdl/PEMPendingEncounterManagementPH-2011-07.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--  
*****************************************************************************************************************
* 
* 	Copyright (c) 2010 NHS Conneccting For Health. All rights reserved.
*   
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY NHS Conneccting For Health. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
* CHANGE HISTORY:
*
* VERSION   DATE       AUTHOR                   LABEL   DESCRIPTION
* =======   ========== ======================   ======  ===========================================================
* 1.0       31-03-2010 Cord Oestmann                    Created this WSDL
* 2.0       16-05-2010 Interoperability Team            Amended this WSDL to make changes to the namespace declarations and the action and callbacks.
*
********************************************************************************************************************
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:itk="urn:nhs-itk:ns:201005" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="pendingEncounterManagement" targetNamespace="urn:nhs-itk:ns:201005">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:nhs-itk:ns:201005" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:include schemaLocation="../distributionEnvelope-v2-0.xsd"/>
			<xsd:include schemaLocation="../ITKMessageTypes-2010-05.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="HL7PipeAndHatContentMessage">
		<wsdl:part name="HL7PipeAndHatContentMessage" element="itk:DistributionEnvelope"/>
	</wsdl:message>
	<wsdl:message name="acknowledgementResponse">
		<wsdl:part name="acknowledgementResponse" element="itk:SimpleMessageResponse"/>
	</wsdl:message>
	<wsdl:message name="faultResponse">
		<wsdl:part name="faultResponse" element="itk:ToolkitErrorInfo"/>
	</wsdl:message>
	<wsdl:portType name="pendingAdmitPH_ptt">
		<wsdl:operation name="pendingAdmitPH-v1-0">
			<wsdl:input message="itk:HL7PipeAndHatContentMessage"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="pendingTransferPH_ptt">
		<wsdl:operation name="pendingTransferPH-v1-0">
			<wsdl:input message="itk:HL7PipeAndHatContentMessage"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="pendingDischargePH_ptt">
		<wsdl:operation name="pendingDischargePH-v1-0">
			<wsdl:input message="itk:HL7PipeAndHatContentMessage"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="cancelPendingAdmitPH_ptt">
		<wsdl:operation name="cancelPendingAdmitPH-v1-0">
			<wsdl:input message="itk:HL7PipeAndHatContentMessage"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="cancelPendingTransferPH_ptt">
		<wsdl:operation name="cancelPendingTransferPH-v1-0">
			<wsdl:input message="itk:HL7PipeAndHatContentMessage"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="cancelPendingDischargePH_ptt">
		<wsdl:operation name="cancelPendingDischargePH-v1-0">
			<wsdl:input message="itk:HL7PipeAndHatContentMessage"/>
			<wsdl:output message="itk:acknowledgementResponse"/>
			<wsdl:fault name="standardFault" message="itk:faultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="pendingAdmitPH_pttBinding" type="itk:pendingAdmitPH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="pendingAdmitPH-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:pendingAdmitPH-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="HL7PipeAndHatContentMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="pendingTransferPH_pttBinding" type="itk:pendingTransferPH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="pendingTransferPH-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:pendingTransferPH-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="HL7PipeAndHatContentMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="pendingDischargePH_pttBinding" type="itk:pendingDischargePH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="pendingDischargePH-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:pendingDischargePH-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="HL7PipeAndHatContentMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="cancelPendingAdmitPH_pttBinding" type="itk:cancelPendingAdmitPH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="cancelPendingAdmitPH-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:cancelPendingAdmitPH-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="HL7PipeAndHatContentMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="cancelPendingTransferPH_pttBinding" type="itk:cancelPendingTransferPH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="cancelPendingTransferPH-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:cancelPendingTransferPH-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="HL7PipeAndHatContentMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="cancelPendingDischargePH_pttBinding" type="itk:cancelPendingDischargePH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="cancelPendingDischargePH-v1-0">
			<soap:operation soapAction="urn:nhs-itk:services:201005:cancelPendingDischargePH-v1-0" style="document"/>
			<wsdl:input>
				<soap:body parts="HL7PipeAndHatContentMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="acknowledgementResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="pendingAdmitPH-v1-0">
		<wsdl:documentation>This service is used to broadcast the pendingAdmit Event ADT^A14 with the payload using Pipe and Hat.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="pendingAdmitPH_pttPort" binding="itk:pendingAdmitPH_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/pendingAdmitPH-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="pendingTransferPH-v1-0">
		<wsdl:documentation>This service is used to broadcast the pendingTransfer Event ADT^A15 with the payload using Pipe and Hat.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="pendingTransferPH_pttPort" binding="itk:pendingTransferPH_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/pendingTransferPH-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="pendingDischargePH-v1-0">
		<wsdl:documentation>This service is used to broadcast the pendingDischarge Event ADT^A16 with the payload using Pipe and Hat.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="pendingDischargePH_pttPort" binding="itk:pendingDischargePH_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/pendingDischargePH-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="cancelPendingAdmitPH-v1-0">
		<wsdl:documentation>This service is used to broadcast the cancelPendingAdmit Event ADT^A27 with the payload using Pipe and Hat.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="cancelPendingAdmitPH_pttPort" binding="itk:cancelPendingAdmitPH_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/cancelPendingAdmitPH-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="cancelPendingTransferPH-v1-0">
		<wsdl:documentation>This service is used to broadcast the cancelPendingTransfer Event ADT^A26 with the payload using Pipe and Hat.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="cancelPendingTransferPH_pttPort" binding="itk:cancelPendingTransferPH_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/cancelPendingTransferPH-v1-0"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="cancelPendingDischargePH-v1-0">
		<wsdl:documentation>This service is used to broadcast the cancelPendingDischarge Event ADT^A25 with the payload using Pipe and Hat.
                          From the service consumer perspective it is a fire-and-forget integration pattern.
                          It returns a receipt acknowledgement from the Toolkit.</wsdl:documentation>
		<wsdl:port name="cancelPendingDischargePH_pttPort" binding="itk:cancelPendingDischargePH_pttBinding">
			<soap:address location="http://server:80/interoperability.toolkit/HL7v2/cancelPendingDischargePH-v1-0"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
