TKW/contrib/DMS_Schema/Telehealth/Schemas/COCD_TP146252GB02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:npfitlc="NPFIT:HL7:Localisation"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* 		XML schema for message type : COCD_TP146252GB02.
* 
*		Source information:
*		Generated by Publisher version : 
*    	Created on: 
*   
* 		Copyright (c) 2009,2010,2011,2012 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../VocabularySchemas/CDAVocab.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
   <xs:import namespace="NPFIT:HL7:Localisation" schemaLocation="../dt/NHSLocalisation.xsd"/>
   <xs:include schemaLocation="../TemplateSchemas/NPFIT-000140_Role.xsd"/>
   <xs:group name="COCD_TP146252GB02">
      <xs:sequence>
         <xs:element name="COCD_TP146252GB02.BloodPressureThreshold"
                     type="COCD_TP146252GB02.BloodPressureThreshold"/>
      </xs:sequence>
   </xs:group>
   <xs:complexType name="COCD_TP146252GB02.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
         <xs:element name="functionCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="OA" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Originating Author" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.178"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#author"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="time" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="TS">
                     <xs:attribute name="value" use="required" type="ts"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:choice>
            <xs:group ref="NPFIT-000140_Role"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.BloodPressure">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV.NPfIT.CDA.Url" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CS">
                     <xs:attribute name="code" use="required" fixed="completed" type="cs"/>
                     <xs:attribute name="codeSystem" type="oid" use="prohibited"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#bloodPressure"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="component" type="COCD_TP146252GB02.Component3" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component1" type="COCD_TP146252GB02.Component4" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="BATTERY"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.BloodPressureThreshold">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="BPTHR" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Blood Pressure Threshold" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CS">
                     <xs:attribute name="code" use="required" fixed="completed" type="cs"/>
                     <xs:attribute name="codeSystem" type="oid" use="prohibited"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#BloodPressureThreshold"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="author" type="COCD_TP146252GB02.Author" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="entryRelationship" type="COCD_TP146252GB02.Component" nillable="true"
                     minOccurs="0"
                     maxOccurs="2"/>
         <xs:element name="entryRelationship1" type="COCD_TP146252GB02.Goal2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="entryRelationship2" type="COCD_TP146252GB02.Component_1" nillable="true"
                     minOccurs="0"
                     maxOccurs="2"/>
         <xs:element name="entryRelationship3" type="COCD_TP146252GB02.Goal" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="entryRelationship4" type="COCD_TP146252GB02.Component_2" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="entryRelationship5" type="COCD_TP146252GB02.Component_3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="entryRelationship6" type="COCD_TP146252GB02.Component2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#entryRelationship"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:choice>
            <xs:element name="maxSystolic" type="COCD_TP146252GB02.MaxSystolic" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="minSystolic" type="COCD_TP146252GB02.MinSystolic" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.Component_1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#entryRelationship2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:choice>
            <xs:element name="maxDiastolic" type="COCD_TP146252GB02.MaxDiastolic" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="minDiastolic" type="COCD_TP146252GB02.MinDiastolic" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.Component_2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#entryRelationship4"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="bloodPressure" type="COCD_TP146252GB02.BloodPressure" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.Component_3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#entryRelationship5"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="systolicRateOfChange" type="COCD_TP146252GB02.SystolicRateOfChange"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.Component2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#entryRelationship6"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="diastolicRateOfChange" type="COCD_TP146252GB02.DiastolicRateOfChange"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.Component3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#component"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="readingSite" type="COCD_TP146252GB02.ReadingSite" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.Component3_1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#entryRelationship5"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="laterality" type="COCD_TP146252GB02.Laterality" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.Component4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#component1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="cuffSize" type="COCD_TP146252GB02.CuffSize" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.CuffSize">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="CSOBS" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Cuff Size Observation" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#cuffSize"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.DiastolicBaseValue">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="BV" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Base value" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#referenceDiastolicBaseValue"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="PQ" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN.CRT"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.DiastolicRateOfChange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="DROCT" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Diastolic rate of change threshold"
                                   type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#diastolicRateOfChange"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="RTO_PQ_PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="referenceRange2" type="COCD_TP146252GB02.ReferenceRange2_1"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.Goal">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#entryRelationship3"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="targetDiastolic" type="COCD_TP146252GB02.TargetDiastolic" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.Goal2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#entryRelationship1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="targetSystolic" type="COCD_TP146252GB02.TargetSystolic" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.Laterality">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="272741003" type="cs"/>
                     <xs:attribute name="displayName" use="required" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#laterality"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.MaxDiastolic">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="314452008" type="cs"/>
                     <xs:attribute name="displayName" use="required" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#maxDiastolic"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="referenceRange1" type="COCD_TP146252GB02.ReferenceRange2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.MaxSystolic">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="314439003" type="cs"/>
                     <xs:attribute name="displayName" use="required" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#maxSystolic"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="referenceRange" type="COCD_TP146252GB02.ReferenceRange" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.MinDiastolic">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="314451001" type="cs"/>
                     <xs:attribute name="displayName" use="required" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#minDiastolic"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="referenceRange1" type="COCD_TP146252GB02.ReferenceRange2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.MinSystolic">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="314438006" type="cs"/>
                     <xs:attribute name="displayName" use="required" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#minSystolic"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="referenceRange" type="COCD_TP146252GB02.ReferenceRange" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.ReadingSite">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="363698007" type="cs"/>
                     <xs:attribute name="displayName" use="required" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#readingSite"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="entryRelationship5" type="COCD_TP146252GB02.Component3_1" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.ReferenceRange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#referenceRange"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="referenceThresholdInterpretation"
                     type="COCD_TP146252GB02.ThresholdInterpretation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="REFV"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.ReferenceRange2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#referenceRange1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="referenceThresholdInterpretation"
                     type="COCD_TP146252GB02.ThresholdInterpretation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="REFV"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.ReferenceRange2_1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#referenceRange2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="referenceDiastolicBaseValue" type="COCD_TP146252GB02.DiastolicBaseValue"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="REFV"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.ReferenceRange3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#referenceRange3"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="referenceSystolicBaseValue" type="COCD_TP146252GB02.SystolicBaseValue"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="REFV"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.SystolicBaseValue">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="BV" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Base value" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#referenceSystolicBaseValue"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="PQ" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN.CRT"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.SystolicRateOfChange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV.NPfIT.CDA.Url" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#systolicRateOfChange"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="RTO_PQ_PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="referenceRange3" type="COCD_TP146252GB02.ReferenceRange3" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.TargetDiastolic">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="315613000" type="cs"/>
                     <xs:attribute name="displayName" use="required" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#targetDiastolic"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="PQ" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="GOL"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.TargetSystolic">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="315612005" type="cs"/>
                     <xs:attribute name="displayName" use="required" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.15"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#targetSystolic"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="PQ" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="GOL"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146252GB02.ThresholdInterpretation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="THRI" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Threshold Interpretation" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="interpretationCode" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146252GB02#referenceThresholdInterpretation"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN.CRT"/>
   </xs:complexType>
</xs:schema>