TKW/contrib/DMS_Schema/ChildScreening/Schemas/COCD_TP146005GB03.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:npfitlc="NPFIT:HL7:Localisation"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* 		XML schema for message type : COCD_TP146005GB03.
* 
*		Source information:
*		Generated by Publisher version : 
*    	Created on: 
*   
* 		Copyright (c) 2009,2010,2011,2012,2013 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../VocabularySchemas/CDAVocab.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
   <xs:import namespace="NPFIT:HL7:Localisation" schemaLocation="../dt/NHSLocalisation.xsd"/>
   <xs:include schemaLocation="../TemplateSchemas/NPFIT-000196_Role.xsd"/>
   <xs:include schemaLocation="../TemplateSchemas/NPFIT-000211_Role.xsd"/>
   <xs:include schemaLocation="../TemplateSchemas/NPFIT-000210_Role.xsd"/>
   <xs:group name="COCD_TP146005GB03">
      <xs:sequence>
         <xs:element name="COCD_TP146005GB03.BloodSpotScreening"
                     type="COCD_TP146005GB03.BloodSpotScreening"/>
      </xs:sequence>
   </xs:group>
   <xs:complexType name="COCD_TP146005GB03.Author1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
         <xs:element name="functionCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="OA" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Originating Author" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.178"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#author"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:group ref="NPFIT-000196_Role"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.BloodSpotScreening">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV.NPfIT.CDA.Url" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="TS">
                     <xs:attribute name="value" use="required" type="ts"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CS">
                     <xs:attribute name="code" use="required" fixed="completed" type="cs"/>
                     <xs:attribute name="codeSystem" type="oid" use="prohibited"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#BloodSpotScreening"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="author" type="COCD_TP146005GB03.Author1" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component" type="COCD_TP146005GB03.Component" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component5" type="COCD_TP146005GB03.Component21" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component6" type="COCD_TP146005GB03.Component22" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component7" type="COCD_TP146005GB03.Component23" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="COCD_TP146005GB03.Performer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="secondaryPerformer" type="COCD_TP146005GB03.SecondaryPerformer"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="BATTERY"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#component"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="screening" type="COCD_TP146005GB03.Screening" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.Component21">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#component5"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="locStatus" type="COCD_TP146005GB03.LocStatus" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.Component22">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#component6"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="labCardSerialNum" type="COCD_TP146005GB03.LabCardSerialNum"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.Component23">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#component7"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="prvLabCardSerialNum" type="COCD_TP146005GB03.PrvLabCardSerialNum"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.Component6">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#entryRelationship1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="screeningSubStatus" type="COCD_TP146005GB03.ScreeningSubStatus"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.Component7">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#entryRelationship2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="reasonText" type="COCD_TP146005GB03.ReasonText" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.Component8">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="BL">
                     <xs:attribute name="value" use="required" fixed="false" type="bl"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#entryRelationship3"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="supplementaryText" type="COCD_TP146005GB03.SupplementaryText"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.LabCardSerialNum">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="LABSNO" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Laboratory Card Serial Number"
                                   type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#labCardSerialNum"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.LocStatus">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="LOCSTS" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Location Status" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#locStatus"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="CV.NPfIT.CDA.Url" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#performer"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:group ref="NPFIT-000210_Role"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="PRF"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.PrvLabCardSerialNum">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="LABSNP" type="cs"/>
                     <xs:attribute name="displayName" use="required"
                                   fixed="Previous Laboratory Card Serial Number"
                                   type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#prvLabCardSerialNum"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.ReasonText">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="BSRTX" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Blood Spot Reason Text" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#reasonText"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.Screening">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV.NPfIT.CDA.Url" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#screening"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="CD.NPfIT.CDA.Url" minOccurs="1" maxOccurs="1"/>
         <xs:element name="entryRelationship1" type="COCD_TP146005GB03.Component6" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="entryRelationship2" type="COCD_TP146005GB03.Component7" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="entryRelationship3" type="COCD_TP146005GB03.Component8" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.ScreeningSubStatus">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="BSSSS" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Blood Spot Screening Status Sub-Code"
                                   type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#screeningSubStatus"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="CD.NPfIT.CDA.Url" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.SecondaryPerformer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#secondaryPerformer"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:group ref="NPFIT-000211_Role"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="SPRF"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146005GB03.SupplementaryText">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV.NPfIT.CDA.Url">
                     <xs:sequence>
                        <xs:element name="originalText" type="Cda.NPfIT.ED" minOccurs="0"/>
                        <xs:element name="translation" type="CD" minOccurs="0" maxOccurs="0"/>
                     </xs:sequence>
                     <xs:attribute name="code" use="required" fixed="BSSTX" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Blood Spot Supplementary Text"
                                   type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.220"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146005GB03#supplementaryText"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
</xs:schema>