TKW/contrib/DMS_Schema/HL7V2/ConformanceSchemas/ITKEvents_QBP_Q21_TB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v2xml"
           xmlns:hl7v2="urn:hl7-org:v2"
           targetNamespace="urn:hl7-org:v2xml"
           elementFormDefault="qualified"><!--
		***************************************************************************************************************************************************
		* 		Model ID : QBP_Q21.
		* 		MsgStructID : QBP_Q21
		*
		*		Source information:
		*		Generated by Publisher version : 
		*    	Created on: 
		*   
		* 		Copyright (c) 2010,2011, 2012 NHS Connecting for Health. All rights reserved.
		*  		Redistribution and use in source and binary forms, with or without
		*  		modification, are permitted provided that the following conditions
		*  		are met:
		*  		1. Redistributions of source code must retain the above copyright
		*     		notice, this list of conditions and the following disclaimer.
		*  		2. Redistributions in binary form must reproduce the above copyright
		*     		notice, this list of conditions and the following disclaimer in the
		*     		documentation and/or other materials provided with the distribution.
		*  		3. All advertising materials mentioning features or use of this software
		*     		must display the following acknowledgement:
		*       This product includes software developed by Health Level Seven.
		*  	THIS SOFTWARE IS PROVIDED BY NHS CONNECTING FOR HEALTH, AND CONTRIBUTORS "AS IS" AND
		*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
		*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
		*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
		*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
		*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
		*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
		*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
		*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
		*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
		*  	SUCH DAMAGE.
		*
		***************************************************************************************************************************************************
	  --><xs:include schemaLocation="../dt/ITKEventsDatatypes-2012-05.xsd"/>
   <xs:include schemaLocation="../VocabularySchema/itkvoc.xsd"/>
   <xs:element name="QBP_Q21" type="QBP.Q21.CONTENT"/>
   <xs:complexType name="QBP.Q21.CONTENT">
      <xs:sequence>
         <xs:element name="MSH" type="QBP.Q21.MSH.CONTENT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="QPD" type="QBP.Q21.QPD.CONTENT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="RCP" type="QBP.Q21.RCP.CONTENT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="DSC" type="QBP.Q21.DSC.CONTENT" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="QBP.Q21.MSH.CONTENT">
      <xs:sequence>
         <xs:element name="MSH.1" type="ST" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Field Separator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.2" type="ST" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Encoding Characters</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.3" type="HD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Sending Application</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.4" type="HD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Sending Facility</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.5" type="HD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Receiving Application</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.6" type="HD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Receiving Facility</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.7" type="TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Date/Time of Message</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.8" type="ST" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Security</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.9" type="MSG" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Message Type</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.10" type="ST" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Message Control ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.11" type="PT" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Processing ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.12" type="VID" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Version ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.13" type="NM" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Sequence Number</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.14" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Continuation Pointer</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.15" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Accept Acknowledgment Type</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.16" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Application Acknowledgment Type</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.17" type="code_0399" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Country Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.18" type="code_0211" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Character Set</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.19" type="PrinicipalLanguageofMessage.CE.MSH" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Prinicipal Language of Message</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.20" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Alternate Character Set Handling Scheme</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.21" type="ID" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Message Profile Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="QBP.Q21.QPD.CONTENT">
      <xs:sequence>
         <xs:element name="QPD.1" type="MessageQueryName.CE.QPD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Message Query Name</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="QPD.2" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Query Tag</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="QPD.3" type="varies" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>User Parameters (in successive fields)</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="QBP.Q21.RCP.CONTENT">
      <xs:sequence>
         <xs:element name="RCP.1" type="code_0091" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Query Priority</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="RCP.2" type="CQ" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Quantity Limited Request</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="RCP.3" type="ResponseModality.CE.RCP" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Response Modality</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="RCP.4" type="TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Execution and Delivery Time</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="RCP.5" type="code_0395" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Modify Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="RCP.6" type="SRT" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Sort-by Field</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="RCP.7" type="code_0391" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Segment group inclusion</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="QBP.Q21.DSC.CONTENT">
      <xs:sequence>
         <xs:element name="DSC.1" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Continuation Pointer</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="DSC.2" type="code_0398" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Continuation Style</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PrinicipalLanguageofMessage.CE.MSH">
      <xs:sequence>
         <xs:element name="CE.1" type="code_0296" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.2" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.3" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.4" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.5" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.6" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MessageQueryName.CE.QPD">
      <xs:sequence>
         <xs:element name="CE.1" type="code_0471" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.2" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.3" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.4" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.5" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.6" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ResponseModality.CE.RCP">
      <xs:sequence>
         <xs:element name="CE.1" type="code_0394" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.2" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.3" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.4" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.5" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.6" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>