TKW/contrib/DMS_Schema/HL7V2/ConformanceSchemas/ITKEvents_ADT_A52_TB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v2xml"
           xmlns:hl7v2="urn:hl7-org:v2"
           targetNamespace="urn:hl7-org:v2xml"
           elementFormDefault="qualified"><!--
		***************************************************************************************************************************************************
		* 		Model ID : ADT_A52.
		* 		MsgStructID : ADT_A52
		*
		*		Source information:
		*		Generated by Publisher version : 
		*    	Created on: 
		*   
		* 		Copyright (c) 2010,2011, 2012 NHS Connecting for Health. All rights reserved.
		*  		Redistribution and use in source and binary forms, with or without
		*  		modification, are permitted provided that the following conditions
		*  		are met:
		*  		1. Redistributions of source code must retain the above copyright
		*     		notice, this list of conditions and the following disclaimer.
		*  		2. Redistributions in binary form must reproduce the above copyright
		*     		notice, this list of conditions and the following disclaimer in the
		*     		documentation and/or other materials provided with the distribution.
		*  		3. All advertising materials mentioning features or use of this software
		*     		must display the following acknowledgement:
		*       This product includes software developed by Health Level Seven.
		*  	THIS SOFTWARE IS PROVIDED BY NHS CONNECTING FOR HEALTH, AND CONTRIBUTORS "AS IS" AND
		*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
		*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
		*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
		*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
		*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
		*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
		*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
		*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
		*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
		*  	SUCH DAMAGE.
		*
		***************************************************************************************************************************************************
	  --><xs:include schemaLocation="../dt/ITKEventsDatatypes-2012-05.xsd"/>
   <xs:include schemaLocation="../VocabularySchema/itkvoc.xsd"/>
   <xs:element name="ADT_A52" type="ADT.A52.CONTENT"/>
   <xs:complexType name="ADT.A52.CONTENT">
      <xs:sequence>
         <xs:element name="MSH" type="ADT.A52.MSH.CONTENT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="EVN" type="ADT.A52.EVN.CONTENT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="PID" type="ADT.A52.PID.CONTENT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="PD1" type="ADT.A52.PD1.CONTENT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="PV1" type="ADT.A52.PV1.CONTENT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="PV2" type="ADT.A52.PV2.CONTENT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="OBX" type="ADT.A52.OBX.CONTENT" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ADT.A52.MSH.CONTENT">
      <xs:sequence>
         <xs:element name="MSH.1" type="ST" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Field Separator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.2" type="ST" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Encoding Characters</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.3" type="HD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Sending Application</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.4" type="HD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Sending Facility</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.5" type="HD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Receiving Application</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.6" type="HD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Receiving Facility</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.7" type="TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Date/Time of Message</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.8" type="ST" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Security</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.9" type="MSG" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Message Type</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.10" type="ST" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Message Control ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.11" type="PT" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Processing ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.12" type="VID" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Version ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.13" type="NM" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Sequence Number</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.14" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Continuation Pointer</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.15" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Accept Acknowledgment Type</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.16" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Application Acknowledgment Type</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.17" type="code_0399" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Country Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.18" type="code_0211" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Character Set</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.19" type="PrinicipalLanguageofMessage.CE.MSH" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Prinicipal Language of Message</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.20" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Alternate Character Set Handling Scheme</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.21" type="ID" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Message Profile Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ADT.A52.EVN.CONTENT">
      <xs:sequence>
         <xs:element name="EVN.1" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Event Type Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="EVN.2" type="TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Recorded Date/Time</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="EVN.3" type="TS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Date/Time Planned Event</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="EVN.4" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Event Reason Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="EVN.5" type="XCN" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Operator ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="EVN.6" type="TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Event Occurred</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="EVN.7" type="HD" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Event Facility</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ADT.A52.PID.CONTENT">
      <xs:sequence>
         <xs:element name="PID.1" type="SI" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Set ID - PID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.2" type="CX" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.3" type="CX" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Identifier List</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.4" type="CX" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Alternate Patient ID - PID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.5" type="XPN" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Name</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.6" type="XPN" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Mother's Maiden Name</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.7" type="TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Date/Time Of Birth</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.8" type="code_0001" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Administrative Sex</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.9" type="XPN" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Alias</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.10" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Race</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.11" type="XAD" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Address</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.12" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>County Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.13" type="XTN" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Phone Number - Home</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.14" type="XTN" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Phone Number - Business</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.15" type="PrimaryLanguage.CE.PID" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Primary Language</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.16" type="MaritalStatus.CE.PID" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Marital Status</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.17" type="Religion.CE.PID" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Religion</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.18" type="CX" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Account Number</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.19" type="ST" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>SSN Number - Patient</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.20" type="DLN" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Driver's License Number - Patient</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.21" type="CX" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Mother's Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.22" type="EthnicGroup.CE.PID" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Ethnic Group</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.23" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Birth Place</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.24" type="code_0136" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Multiple Birth Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.25" type="NM" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Birth Order</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.26" type="Citizenship.CE.PID" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Citizenship</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.27" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Veterans Military Status</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.28" type="Nationality.CE.PID" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Nationality</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.29" type="TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Death Date and Time</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.30" type="code_0136" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Death Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.31" type="code_0136" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identity Unknown Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.32" type="code_0445" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identity Reliability Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.33" type="TS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Last Update Date/Time</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.34" type="HD" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Last Update Facility</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.35" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Species Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.36" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Breed Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.37" type="ST" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Strain</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.38" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Production Class Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ADT.A52.PD1.CONTENT">
      <xs:sequence>
         <xs:element name="PD1.1" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Living Dependency</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.2" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Living Arrangement</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.3" type="XON" minOccurs="0" maxOccurs="2">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Primary Facility</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.4" type="XCN" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Primary Care Provider Name &amp; ID No.</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.5" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Student Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.6" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Handicap</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.7" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Living Will Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.8" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Organ Donor Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.9" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Separate Bill</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.10" type="CX" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Duplicate Patient</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.11" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Publicity Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.12" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Protection Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ADT.A52.PV1.CONTENT">
      <xs:sequence>
         <xs:element name="PV1.1" type="SI" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Set ID - PV1</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.2" type="IS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Class</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.3" type="PL" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Assigned Patient Location</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.4" type="code_0007" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Admission Type</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.5" type="CX" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Preadmit Number</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.6" type="PL" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Prior Patient Location</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.7" type="XCN" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Attending Doctor</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.8" type="XCN" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Referring Doctor</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.9" type="XCN" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Consulting Doctor</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.10" type="HospitalService.CE.PV1" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Hospital Service</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.11" type="PL" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Temporary Location</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.12" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Preadmit Test Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.13" type="code_0092" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Re-admission Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.14" type="AdmitSource.CE.PV1" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Admit Source</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.15" type="code_0009" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Ambulatory Status</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.16" type="code_0099" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>VIP Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.17" type="XCN" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Admitting Doctor</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.18" type="IS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Type</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.19" type="CX" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Visit Number</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.20" type="FC" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Financial Class</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.21" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Charge Price Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.22" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Courtesy Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.23" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Credit Rating</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.24" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Contract Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.25" type="DT" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Contract Effective Date</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.26" type="NM" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Contract Amount</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.27" type="NM" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Contract Period</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.28" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Interest Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.29" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Transfer to Bad Debt Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.30" type="DT" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Transfer to Bad Debt Date</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.31" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Bad Debt Agency Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.32" type="NM" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Bad Debt Transfer Amount</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.33" type="NM" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Bad Debt Recovery Amount</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.34" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Delete Account Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.35" type="DT" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Delete Account Date</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.36" type="code_0112" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Discharge Disposition</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.37" type="DLD" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Discharged to Location</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.38" type="CE" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Diet Type</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.39" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Servicing Facility</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.40" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Bed Status</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.41" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Account Status</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.42" type="PL" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Pending Location</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.43" type="PL" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Prior Temporary Location</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.44" type="TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Admit Date/Time</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.45" type="TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Discharge Date/Time</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.46" type="NM" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Current Patient Balance</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.47" type="NM" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Total Charges</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.48" type="NM" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Total Adjustments</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.49" type="NM" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Total Payments</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.50" type="CX" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Alternate Visit ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.51" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Visit Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV1.52" type="XCN" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Other Healthcare Provider</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ADT.A52.PV2.CONTENT">
      <xs:sequence>
         <xs:element name="PV2.1" type="PL" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Prior Pending Location</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.2" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Accommodation Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.3" type="CE" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Admit Reason</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.4" type="CE" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Transfer Reason</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.5" type="ST" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Valuables</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.6" type="ST" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Valuables Location</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.7" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Visit User Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.8" type="TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Expected Admit Date/Time</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.9" type="TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Expected Discharge Date/Time</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.10" type="NM" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Estimated Length of Inpatient Stay</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.11" type="NM" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Actual Length of Inpatient Stay</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.12" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Visit Description</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.13" type="XCN" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Referral Source Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.14" type="DT" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Previous Service Date</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.15" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Employment Illness Related Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.16" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Purge Status Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.17" type="DT" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Purge Status Date</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.18" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Special Program Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.19" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Retention Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.20" type="NM" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Expected Number of Insurance Plans</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.21" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Visit Publicity Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.22" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Visit Protection Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.23" type="XON" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Clinic Organization Name</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.24" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Status Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.25" type="code_0217" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Visit Priority Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.26" type="DT" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Previous Treatment Date</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.27" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Expected Discharge Disposition</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.28" type="DT" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Signature on File Date</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.29" type="DT" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>First Similar Illness Date</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.30" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Charge Adjustment Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.31" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Recurring Service Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.32" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Billing Media Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.33" type="TS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Expected Surgery Date and Time</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.34" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Military Partnership Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.35" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Military Non-Availability Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.36" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Newborn Baby Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.37" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Baby Detained Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.38" type="CE" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Mode of Arrival Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.39" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Recreational Drug Use Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.40" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Admission Level of Care Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.41" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Precaution Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.42" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Condition Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.43" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Living Will Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.44" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Organ Donor Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.45" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Advance Directive Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.46" type="DT" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Status Effective Date</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PV2.47" type="TS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Expected LOA Return Date/Time</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ADT.A52.OBX.CONTENT">
      <xs:sequence>
         <xs:element name="OBX.1" type="SI" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Set ID - OBX</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.2" type="code_0125" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Value Type</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.3" type="CE" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Observation Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.4" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Observation Sub-Id</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.5" type="varies" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Observation Value</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.6" type="CE" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Units</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.7" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>References Range</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.8" type="code_0078" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Abnormal Flags</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.9" type="NM" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Probability</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.10" type="ID" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Nature of Abnormal Test</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.11" type="ID" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Observation Result Status</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.12" type="TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Date Last Observation Normal Value</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.13" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>User Defined Access Checks</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.14" type="TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Date/Time of the Observation</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.15" type="CE" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Producer's ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.16" type="XCN" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Responsible Observer</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.17" type="CE" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Observation Method</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.18" type="EI" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Equipment Instance Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="OBX.19" type="TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Date/Time of the Analysis</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PrinicipalLanguageofMessage.CE.MSH">
      <xs:sequence>
         <xs:element name="CE.1" type="code_0296" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.2" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.3" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.4" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.5" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.6" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PrimaryLanguage.CE.PID">
      <xs:sequence>
         <xs:element name="CE.1" type="code_0296" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.2" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.3" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.4" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.5" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.6" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MaritalStatus.CE.PID">
      <xs:sequence>
         <xs:element name="CE.1" type="code_0002" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.2" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.3" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.4" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.5" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.6" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Religion.CE.PID">
      <xs:sequence>
         <xs:element name="CE.1" type="code_0006" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.2" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.3" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.4" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.5" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.6" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EthnicGroup.CE.PID">
      <xs:sequence>
         <xs:element name="CE.1" type="code_0189" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.2" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.3" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.4" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.5" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.6" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Citizenship.CE.PID">
      <xs:sequence>
         <xs:element name="CE.1" type="code_0399" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.2" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.3" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.4" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.5" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.6" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Nationality.CE.PID">
      <xs:sequence>
         <xs:element name="CE.1" type="code_0399" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.2" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.3" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.4" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.5" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.6" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="HospitalService.CE.PV1">
      <xs:sequence>
         <xs:element name="CE.1" type="code_0069" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.2" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.3" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.4" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.5" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.6" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AdmitSource.CE.PV1">
      <xs:sequence>
         <xs:element name="CE.1" type="code_0023" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.2" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.3" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.4" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.5" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identifier Text</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="CE.6" type="code_0396" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>name of coding system</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>