TKW/contrib/DMS_Schema/HL7V2/ConformanceSchemas/ITKEvents_ADT_A40.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v2xml"
           xmlns:hl7v2="urn:hl7-org:v2"
           targetNamespace="urn:hl7-org:v2xml"
           elementFormDefault="qualified"><!--
		***************************************************************************************************************************************************
		* 		Model ID : ADT_A40.
		* 		MsgStructID : ADT_A39
		*
		*		Source information:
		*		Generated by Publisher version : 
		*    	Created on: 
		*   
		* 		Copyright (c) 2010,2011, 2012 NHS Connecting for Health. All rights reserved.
		*  		Redistribution and use in source and binary forms, with or without
		*  		modification, are permitted provided that the following conditions
		*  		are met:
		*  		1. Redistributions of source code must retain the above copyright
		*     		notice, this list of conditions and the following disclaimer.
		*  		2. Redistributions in binary form must reproduce the above copyright
		*     		notice, this list of conditions and the following disclaimer in the
		*     		documentation and/or other materials provided with the distribution.
		*  		3. All advertising materials mentioning features or use of this software
		*     		must display the following acknowledgement:
		*       This product includes software developed by Health Level Seven.
		*  	THIS SOFTWARE IS PROVIDED BY NHS CONNECTING FOR HEALTH, AND CONTRIBUTORS "AS IS" AND
		*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
		*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
		*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
		*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
		*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
		*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
		*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
		*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
		*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
		*  	SUCH DAMAGE.
		*
		***************************************************************************************************************************************************
	  --><xs:include schemaLocation="../dt/ITKEventsDatatypes-2012-05.xsd"/>
   <xs:element name="ADT_A39" type="ADT.A40.CONTENT"/>
   <xs:complexType name="ADT.A40.CONTENT">
      <xs:sequence>
         <xs:element name="MSH" type="ADT.A40.MSH.CONTENT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="EVN" type="ADT.A40.EVN.CONTENT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="PID" type="ADT.A40.PID.CONTENT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="PD1" type="ADT.A40.PD1.CONTENT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="MRG" type="ADT.A40.MRG.CONTENT" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ADT.A40.MSH.CONTENT">
      <xs:sequence>
         <xs:element name="MSH.1" type="ST" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Field Separator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.2" type="ST" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Encoding Characters</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.3" type="HD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Sending Application</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.4" type="HD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Sending Facility</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.5" type="HD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Receiving Application</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.6" type="HD" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Receiving Facility</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.7" type="TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Date/Time of Message</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.8" type="ST" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Security</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.9" type="MSG" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Message Type</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.10" type="ST" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Message Control ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.11" type="PT" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Processing ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.12" type="VID" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Version ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.13" type="NM" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Sequence Number</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.14" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Continuation Pointer</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.15" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Accept Acknowledgment Type</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.16" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Application Acknowledgment Type</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.17" type="ID" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Country Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.18" type="ID" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Character Set</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.19" type="CE" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Prinicipal Language of Message</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.20" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Alternate Character Set Handling Scheme</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MSH.21" type="ID" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Message Profile Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ADT.A40.EVN.CONTENT">
      <xs:sequence>
         <xs:element name="EVN.1" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Event Type Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="EVN.2" type="TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Recorded Date/Time</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="EVN.3" type="TS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Date/Time Planned Event</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="EVN.4" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Event Reason Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="EVN.5" type="XCN" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Operator ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="EVN.6" type="TS" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Event Occurred</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="EVN.7" type="HD" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Event Facility</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ADT.A40.PID.CONTENT">
      <xs:sequence>
         <xs:element name="PID.1" type="SI" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Set ID - PID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.2" type="CX" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.3" type="CX" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Identifier List</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.4" type="CX" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Alternate Patient ID - PID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.5" type="XPN" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Name</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.6" type="XPN" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Mother's Maiden Name</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.7" type="TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Date/Time Of Birth</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.8" type="IS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Administrative Sex</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.9" type="XPN" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Alias</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.10" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Race</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.11" type="XAD" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Address</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.12" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>County Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.13" type="XTN" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Phone Number - Home</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.14" type="XTN" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Phone Number - Business</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.15" type="CE" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Primary Language</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.16" type="CE" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Marital Status</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.17" type="CE" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Religion</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.18" type="CX" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Account Number</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.19" type="ST" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>SSN Number - Patient</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.20" type="DLN" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Driver's License Number - Patient</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.21" type="CX" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Mother's Identifier</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.22" type="CE" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Ethnic Group</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.23" type="ST" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Birth Place</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.24" type="ID" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Multiple Birth Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.25" type="NM" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Birth Order</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.26" type="CE" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Citizenship</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.27" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Veterans Military Status</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.28" type="CE" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Nationality</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.29" type="TS" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Death Date and Time</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.30" type="ID" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Death Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.31" type="ID" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identity Unknown Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.32" type="IS" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Identity Reliability Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.33" type="TS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Last Update Date/Time</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.34" type="HD" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Last Update Facility</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.35" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Species Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.36" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Breed Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.37" type="ST" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Strain</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PID.38" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Production Class Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ADT.A40.PD1.CONTENT">
      <xs:sequence>
         <xs:element name="PD1.1" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Living Dependency</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.2" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Living Arrangement</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.3" type="XON" minOccurs="0" maxOccurs="2">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Primary Facility</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.4" type="XCN" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Patient Primary Care Provider Name &amp; ID No.</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.5" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Student Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.6" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Handicap</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.7" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Living Will Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.8" type="IS" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Organ Donor Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.9" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Separate Bill</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.10" type="CX" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Duplicate Patient</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.11" type="CE" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Publicity Code</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PD1.12" type="ID" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Protection Indicator</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ADT.A40.MRG.CONTENT">
      <xs:sequence>
         <xs:element name="MRG.1" type="CX" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Prior Patient ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MRG.2" type="CX" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Alternate Patient ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MRG.3" type="CX" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Prior Patient Account Number</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MRG.4" type="CX" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Prior Patient ID - External</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MRG.5" type="CX" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Prior Visit Number</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MRG.6" type="CX" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Prior Alternate ID</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="MRG.7" type="XPN" minOccurs="0" maxOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <hl7v2:name>Prior Patient Name</hl7v2:name>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>