TKW/contrib/DMS_Schema/HPEN/Schemas/POCD_MT000021GB01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:npfitlc="NPFIT:HL7:Localisation" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* 		XML schema for message type : POCD_MT000021GB01.
* 
*		Source information:
*		Generated by Publisher version : 
*    	Created on: 
*   
* 		Copyright (c) 2009,2010,2011,2012 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="../VocabularySchemas/CDAVocab.xsd"/>
	<xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
	<xs:import namespace="NPFIT:HL7:Localisation" schemaLocation="../dt/NHSLocalisation.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-000014_Role.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-000200_Role.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-000203_Role.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-000204_Role.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-000170_Section.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-000348_Act.xsd"/>
	<xs:element name="ClinicalDocument" type="POCD_MT000021GB01.ClinicalDocument"/>
	<xs:complexType name="POCD_MT000021GB01.Author">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:element name="functionCode" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="required" fixed="OA"/>
							<xs:attribute name="displayName" type="st" use="required" fixed="Originating Author"/>
							<xs:attribute name="codeSystem" type="uid" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.178"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="time" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:choice>
				<xs:group ref="NPFIT-000203_Role"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000021GB01.ClinicalDocument.typeId">
		<xs:complexContent>
			<xs:restriction base="II">
				<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
				<xs:attribute name="extension" use="required">
					<xs:simpleType>
						<xs:restriction base="st">
							<xs:enumeration value="POCD_HD000040"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
				<xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
				<xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
				<xs:attribute name="displayable" type="bl" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="POCD_MT000021GB01.ClinicalDocument">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveTime" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="npfitlc:messageType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="setId" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
			<xs:element name="title" type="ST" minOccurs="1" maxOccurs="1"/>
			<xs:element name="typeId" type="POCD_MT000021GB01.ClinicalDocument.typeId" minOccurs="1" maxOccurs="1"/>
			<xs:element name="versionNumber" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="INT">
							<xs:attribute name="value" type="int" use="required"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="author" type="POCD_MT000021GB01.Author" minOccurs="1" maxOccurs="1"/>
			<xs:element name="component" type="POCD_MT000021GB01.Component5" minOccurs="1" maxOccurs="1"/>
			<xs:element name="custodian" type="POCD_MT000021GB01.Custodian" minOccurs="1" maxOccurs="1"/>
			<xs:element name="inFulfillmentOf" type="POCD_MT000021GB01.InFulfillmentOf" minOccurs="1" maxOccurs="1"/>			
			<xs:element name="informationRecipient" type="POCD_MT000021GB01.PrimaryInformationRecipient" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="recordTarget" type="POCD_MT000021GB01.RecordTarget" minOccurs="1" maxOccurs="1"/>
			<xs:element name="relatedDocument" type="POCD_MT000021GB01.ReplacementOf" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCCLIN"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000021GB01.Component4">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:choice>
				<xs:group ref="NPFIT-000170_Section"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000021GB01.Component5">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="structuredBody" type="POCD_MT000021GB01.StructuredBody" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000021GB01.Custodian">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:choice>
				<xs:group ref="NPFIT-000014_Role"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="CST"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000021GB01.InFulfillmentOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:choice>
				<xs:group ref="NPFIT-000348_Act"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="FLFS"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000021GB01.ParentDocument">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
			<xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
			<xs:element name="setId" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
			<xs:element name="versionNumber" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="INT">
							<xs:attribute name="value" type="int" use="required"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCCLIN"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000021GB01.PrimaryInformationRecipient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:choice>
				<xs:group ref="NPFIT-000204_Role"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="PRCP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000021GB01.RecordTarget">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:choice>
				<xs:group ref="NPFIT-000200_Role"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="RCT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000021GB01.ReplacementOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="priorParentDocument" type="POCD_MT000021GB01.ParentDocument" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="RPLC"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000021GB01.StructuredBody">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="component" type="POCD_MT000021GB01.Component4" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCBODY"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
</xs:schema>
